
#clock-container{
 margin: auto;
 height: 40vw;
 width: 40vw;
 background: url("../images/clock.jpg") no-repeat;
 background-size: 100%;
 position: relative;
}
#hourhand,#mintehand,#secondhand{
 position: absolute;
 background: black;
 border-radius: 10px;
 transform-origin: bottom;
}
#minutehand{
 width: 1.6%;
 height: 30%;
 left:49%;
 top: 16%;
 opacity: 0.8;
 
}
#hourhand{
 width: 1%;
 height: 25%;
 left:49%;
 top: 22%;
 opacity: 0.8;

 
}
#secondhand{
 width: 1%;
 height: 36%;
 left:49%;
 top: 15%;
 opacity: 0.8;

 
}


