*{
 margin: 0;
 padding: 0;
}
body{
 overflow: hidden;
}

.sky{
 position: absolute;
 background: url("./images/sound.mp3");
 width: 100%;
 height: 100vh;
 background-repeat: no-repeat;
 background: url("./images/background.jpg");
}
.trees{
 background-image: url("./images/trees.png");
 width: 100%;
 height: 100vh;
 background-size: cover;
 position: absolute;
 top: -30%;
}
.track{
 background-image: url("./images/track.png");
 width: 800vw;
 height: 60vh;
 
 position: absolute;
 top: 70%;
 background-repeat: repeat-x;
 animation:carmovement linear 2s infinite ;

}
.car{
 background-image: url("./images/car_body.png");
 position: absolute;
 width:380px;
 height: 100px;
 background-size: cover;
 background-repeat: no-repeat;
 bottom: 30vh;
 left:10%;
 animation: carshake linear 0.6s infinite;
}


 

.cartyre-left img{
position: relative;
width: 90px;
top: 28px;
left: 34px;
animation: wheelrotation linear .6s infinite;

}
.cartyre-right img{
 position: relative;
width: 93px;
top: -53px;
left: 230px;
animation: wheelrotation linear .6s infinite;
 
}

@keyframes wheelrotation
{
 100%
 {
  transform: rotate(360deg);
 }
}
@keyframes carmovement
{
 100%
 {
  transform: translateX(-500vw);
 }
}
@keyframes carshake
{
 0%
 {
  transform: translateY(-5px);
 }
 50%
 {
  transform: translateY(5px);
 }
 
 
 
 100%
 {
  transform: translatey(-5px);
 }
}